body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: white;
}

#page
{
	margin-top: 0px;
	margin-bottom: 0px;
	background: white;
	border: 1px solid #eee;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#slogon
{
	padding: 0px 20px;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.cell01 {
	margin-bottom:10px;
	background-image: linear-gradient(bottom, rgb(231,233,233) 0%, rgb(247,249,249) 100%);
	background-image: -o-linear-gradient(bottom, rgb(231,233,233) 0%, rgb(247,249,249) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(231,233,233) 0%, rgb(247,249,249) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(231,233,233) 0%, rgb(247,249,249) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(231,233,233) 0%, rgb(247,249,249) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(231,233,233)),
		color-stop(1, rgb(247,249,249))
	);
			
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	text-transform: none;
	text-align:center;
	
	padding: 8px 0px;
}

.cell02 {
	height:110px;
	margin-bottom:10px;
	background-image: linear-gradient(bottom, rgb(240,242,242) 0%, rgb(247,249,249) 100%);
	background-image: -o-linear-gradient(bottom, rgb(240,242,242) 0%, rgb(247,249,249) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(240,242,242) 0%, rgb(247,249,249) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,242,242) 0%, rgb(247,249,249) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(240,242,242) 0%, rgb(247,249,249) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(240,242,242)),
		color-stop(1, rgb(247,249,249))
	);
			
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.cellbutton {
	display:block;
	height:100%;
	width:100%;
}

.button02 {
	background: url("../images/book_button.png") no-repeat scroll -220px 0;
}

.button01 {
	background: url("../images/book_button.png") no-repeat scroll -0px 0;
}

.button03 {
	background: url("../images/book_button.png") no-repeat scroll -110px 0;
}
