/* planner */
.cell01 {
	margin-bottom:10px;
	padding: 6px 0px;
	background-color:#eee;
			
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cell02 {
	/*height:110px;*/
	margin-bottom:10px;
	padding: 2px 0px;
	background-color:#f6f6f6;
			
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cell03 {
	background-color:#f6f6f6;
	margin-bottom:10px;
	padding: 8px 0px;
			
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cellbutton {
	display:block;
	height:100%;
	width:100%;
}

.button01 {
	/*background: url("../images/book_button.png") no-repeat scroll -0px 0;*/
}

.button02 {
	/*background: url("../images/book_button.png") no-repeat scroll -220px 0;*/
	background-color: #D9EDF7;
}

.button03 {
	/*background: url("../images/book_button.png") no-repeat scroll -110px 0;*/
	background-color: #F2DEDE;
}

.botton-border01 {
	border-bottom: solid 1px #ddd;
}

#logo-image {
	max-width:75%;
	padding-left: 65px;
	padding-top: 18px;
	padding-bottom: 18px;
}

/* Table */
.table {
    margin-bottom: 0px !important;
}
.button01 .table th, .button01 .table td {
    border-top: 1px solid rgba(0,0,0,0.05) !important;
}
.button02 .table th, .button02 .table td {
    border-top: 1px solid rgba(0,0,0,0.05) !important;
}
.button03 .table th, .button03 .table td {
    border-top: 1px solid #F2DEDE !important;
}
.button01 .table tbody tr:hover td,.button01 .table tbody tr:hover th{background-color:rgba(0,0,0,0.01);}
.button02 .table tbody tr:hover td,.button02 .table tbody tr:hover th{background-color:rgba(0,0,0,0.01);}
.button03 .table {display:none;}
.button03 .table tbody tr:hover td,.button03 .table tbody tr:hover th{background-color:rgba(0,0,0,0.01);}

#title-text {
	padding: 10px 0px 0px 0px;
	text-shadow: 0 1px 1px #FFFFFF;
}

/* Padding */
.paddingHoz04 {
	padding: 4px 0px;
}

/* Typography */
.nounderline {
	text-decoration:none !important;
}
.text_center {
	text-align: center;
}
.field-error {
	color: #B94A48;
}
.quiet {
	color:#666;
	font-size:11px;
}
.button01 a, .button01 a:hover {
	color: #777;
}
.button02 h6, .button02 a, .button02 a:hover {
	color: #3A87AD;
}
.button03, .button03 h6, .button03 a, .button03 a:hover {
	color: #B94A48;
}